.cartList {
  width: 900px;
  margin: 20px auto;
}

.username {
  margin: 10px;
}

.nameChangeBtn {
  margin: 4px;
  padding: 8px 15px;
  color: white;
  background-color: rgb(121, 226, 217);
  font-family: NotoSans;
  border: none;
  border-radius: 10px;
}

.correctionBtn {
  margin: 3px;
  padding: 3px 10px;
  color: white;
  background-color: rgb(83, 83, 83);
  font-family: NotoSans;
  border: none;
  border-radius: 10px;
}
